</head>
<style>
    #table {
        font-family: Helvetica;
        font-size: 15px;
        font-weight: bold;
        width: 120px;
        text-align: center;
        border: 2px solid black;
        margin: 10px;
    }
    #td_th {
        font-family: Helvetica;
        font-size: 15px;
        font-weight: bold;
        padding-left: 35px;
        padding-right: 35px;
        height: 50px;
        text-align: center;
        border: 2px solid black;
    }
    #text {
        font-family: Helvetica;
        font-size: 17px;
        font-weight: bold;
        margin: 20px;
    }
</style>
<div class="container"  style="display: flex; justify-content: center; align-items: center">
<h1 id="text">Адмінка</h1>
</div>
<div class="leftnav" style="float: left; width: 150px; height: 100%; margin-right:
30px;">
    <b id="text">Команди</b>
    <ul>
        <li><a href="/admin/teams" id="text">список</a></li>
        <li><a href="/admin/teams/create" id="text">додати</a></li>
    </ul>
    <br/>
    <ul>
        <li><a href="/teams" id="text">Повернутися до головної сторінки</a></li>
    </ul>
</div>
<div>
        <h2>Список команд</h2>
    <table id="table">

        <th id="td_th">Назва команди</th>
        <th id="td_th">Кількість балів</th>
        <th id="td_th">Місце</th>
        <th id="td_th">Місто</th>
        <th id="td_th">Тип гри</th>
        <th id="td_th">Опції</th>


                    <tr>
                <td id="td_th">
                    <a href="/teams/11">
                        Бригада
                    </a>
                </td>
                <td id="td_th">21</td>
                <td id="td_th">1</td>
                <td id="td_th">Батєво</td>
                <td id="td_th">хокей</td>
                    <td id="td_th"><a href="/admin/teams/11/edit">edit</a>
                    <form style="float:right; padding: 0 15px;"
                          action="/admin/teams/11"method="POST">
                        <input type="hidden" name="_method" value="DELETE">

                        <input type="hidden" name="_token" value="ugr2ya5fZsE1f1W9bO3b2Bg7B3GntckMlsQe74nO">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
                    <tr>
                <td id="td_th">
                    <a href="/teams/4">
                        Гравці
                    </a>
                </td>
                <td id="td_th">11</td>
                <td id="td_th">3</td>
                <td id="td_th">Лондон</td>
                <td id="td_th">футбол</td>
                    <td id="td_th"><a href="/admin/teams/4/edit">edit</a>
                    <form style="float:right; padding: 0 15px;"
                          action="/admin/teams/4"method="POST">
                        <input type="hidden" name="_method" value="DELETE">

                        <input type="hidden" name="_token" value="ugr2ya5fZsE1f1W9bO3b2Bg7B3GntckMlsQe74nO">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
                    <tr>
                <td id="td_th">
                    <a href="/teams/7">
                        Команда№1
                    </a>
                </td>
                <td id="td_th">12</td>
                <td id="td_th">1</td>
                <td id="td_th">Ліверпуль</td>
                <td id="td_th">волейбол</td>
                    <td id="td_th"><a href="/admin/teams/7/edit">edit</a>
                    <form style="float:right; padding: 0 15px;"
                          action="/admin/teams/7"method="POST">
                        <input type="hidden" name="_method" value="DELETE">

                        <input type="hidden" name="_token" value="ugr2ya5fZsE1f1W9bO3b2Bg7B3GntckMlsQe74nO">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
                    <tr>
                <td id="td_th">
                    <a href="/teams/2">
                        Лондон
                    </a>
                </td>
                <td id="td_th">11</td>
                <td id="td_th">1</td>
                <td id="td_th">Лондон</td>
                <td id="td_th">футбол</td>
                    <td id="td_th"><a href="/admin/teams/2/edit">edit</a>
                    <form style="float:right; padding: 0 15px;"
                          action="/admin/teams/2"method="POST">
                        <input type="hidden" name="_method" value="DELETE">

                        <input type="hidden" name="_token" value="ugr2ya5fZsE1f1W9bO3b2Bg7B3GntckMlsQe74nO">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
                    <tr>
                <td id="td_th">
                    <a href="/teams/6">
                        Переможці
                    </a>
                </td>
                <td id="td_th">9</td>
                <td id="td_th">3</td>
                <td id="td_th">Лондон</td>
                <td id="td_th">волейбол</td>
                    <td id="td_th"><a href="/admin/teams/6/edit">edit</a>
                    <form style="float:right; padding: 0 15px;"
                          action="/admin/teams/6"method="POST">
                        <input type="hidden" name="_method" value="DELETE">

                        <input type="hidden" name="_token" value="ugr2ya5fZsE1f1W9bO3b2Bg7B3GntckMlsQe74nO">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
                    <tr>
                <td id="td_th">
                    <a href="/teams/8">
                        Полісся
                    </a>
                </td>
                <td id="td_th">20</td>
                <td id="td_th">1</td>
                <td id="td_th">Вінниця</td>
                <td id="td_th">волейбол</td>
                    <td id="td_th"><a href="/admin/teams/8/edit">edit</a>
                    <form style="float:right; padding: 0 15px;"
                          action="/admin/teams/8"method="POST">
                        <input type="hidden" name="_method" value="DELETE">

                        <input type="hidden" name="_token" value="ugr2ya5fZsE1f1W9bO3b2Bg7B3GntckMlsQe74nO">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
                    <tr>
                <td id="td_th">
                    <a href="/teams/3">
                        ТроТро
                    </a>
                </td>
                <td id="td_th">11</td>
                <td id="td_th">2</td>
                <td id="td_th">Стокгольм</td>
                <td id="td_th">волейбол</td>
                    <td id="td_th"><a href="/admin/teams/3/edit">edit</a>
                    <form style="float:right; padding: 0 15px;"
                          action="/admin/teams/3"method="POST">
                        <input type="hidden" name="_method" value="DELETE">

                        <input type="hidden" name="_token" value="ugr2ya5fZsE1f1W9bO3b2Bg7B3GntckMlsQe74nO">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
                    <tr>
                <td id="td_th">
                    <a href="/teams/12">
                        рмлмлооо
                    </a>
                </td>
                <td id="td_th">33</td>
                <td id="td_th">3</td>
                <td id="td_th">Вінниця</td>
                <td id="td_th">волейбол</td>
                    <td id="td_th"><a href="/admin/teams/12/edit">edit</a>
                    <form style="float:right; padding: 0 15px;"
                          action="/admin/teams/12"method="POST">
                        <input type="hidden" name="_method" value="DELETE">

                        <input type="hidden" name="_token" value="ugr2ya5fZsE1f1W9bO3b2Bg7B3GntckMlsQe74nO">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
            </table>
</div>
